/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif; 
}

h2 {
	border-bottom: 3px #fff dashed;
	display: inline-block;
}

h2, a {
	color: #093a58;
}

li {
	list-style: none;
}

img {
	box-shadow: 1px 5px 5px 1px #093a58;
}

.icons {
	height: 40px;
	width: 40px;
	margin: 1em;
}

/* ================================= 
  Navigation Styles
==================================== */

ul.topnav {
	background-color: #A9A9A9;
}

ul.topnav li a {
	color: #093a58;
}

/* ================================= 
  Layout Styles
==================================== */

.banner {
	text-align: center;
	color: #fff;
	background: linear-gradient(#227b74, transparent 90%),
		linear-gradient(0deg, #3acec2, transparent);
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	overflow: auto;
}

.banner a {
	color: #093a58;
	text-decoration: none;
}

footer {
	background-color: #A9A9A9;
}

footer h4 {
	font-size: 1.5em;
	color: #093a58;
	border-bottom: 3px #3acec2 dashed;
	display: inline-block;
	text-transform: uppercase;
}
